@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;0,600;0,700;1,400&family=Quicksand:wght@400;500;600;700&family=Roboto:ital,wght@0,400;0,700;1,400;1,500&display=swap");
:root {
  --playfair: "Playfair Display", serif;
  --quicksand: "Quicksand", sans-serif;
  --roboto: "Roboto", sans-serif;
  --green: #13ed9c;
  --dark: #3c393d;
}
* {
  padding: 0;
  margin: 0;
  font-family: var(--quicksand);
  box-sizing: border-box;
}
img {
  width: 100%;
  display: block;
}
.container {
  max-width: 1320px;
  padding: 0 1.2rem;
  margin: 0 auto;
}
/*header styling start*/
header {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  background-image: url(../image/learning.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  margin: 0 auto;
}
.navbar {
  background: rgba(19, 237, 156, 0.8);
  padding: 1rem;
  border: 1px solid rgb(91, 194, 228);
  border-radius: 3px;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation .logo a {
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  font-family: var(--roboto);
  letter-spacing: 1px;
  display: block;
  text-align: center;
}
.navbar-nav {
  padding: 0.4rem 0 0.2rem 0;
}
.navbar-nav a {
  text-decoration: none;
  color: #fff;
  padding-right: 0.8rem;
  padding-left: 0.8rem;
  font-family: var(--roboto);
  font-weight: 400;
  display: inline-block;
  letter-spacing: 1px;
  transition: opacity 0.5s ease;
}
.navbar-nav a:hover {
  opacity: 0.7;
}
.nav-button {
  margin: 0.4rem 0.4rem;
  /* padding: 0rem 0.2rem 0 0.2rem; */
}
.nav-button button {
  width: 5rem;
  height: 1.7rem;
  border-radius: 2rem;
  text-align: center;
  text-transform: uppercase;
  color: rgb(22, 11, 168);
  font-weight: 700;
  border: none;
}
.container-2 {
  display: grid;
  grid-template-columns: repeat(3, 10rem);
  gap: 1rem;
  margin-top: 24.5rem;
  margin-left: 30%;
  position: relative;
}
.button2 {
  width: 6rem;
  height: 3rem;
  border-radius: 2rem;
}
.button3 {
  width: 6rem;
  height: 3rem;
  border-radius: 2rem;
}
.button4 {
  width: 6rem;
  height: 3rem;
  border-radius: 2rem;
}
.button2 span {
  font-weight: 700;
  color: red;
  font-family: var(--roboto);
}
.button2 {
  font-weight: 700;
  color: var(--dark);
  font-family: var(--roboto);
  text-transform: capitalize;
  font-size: 1rem;
}
.button2 span {
  font-weight: 700;
  color: red;
  font-family: var(--roboto);
}
.button3 {
  font-weight: 700;
  color: var(--dark);
  font-family: var(--roboto);
  text-transform: capitalize;
  font-size: 1rem;
}
.button3 span {
  font-weight: 700;
  color: rgb(13, 148, 233);
  font-family: var(--roboto);
}
.button4 {
  font-weight: 700;
  color: var(--dark);
  font-family: var(--roboto);
  text-transform: capitalize;
  font-size: 1rem;
}
.button4 span {
  font-weight: 700;
  color: rgb(8, 177, 8);
  font-family: var(--roboto);
}

/*end of header styling*/
.title {
  text-align: center;
  padding: 1rem;
  margin: 0 auto;
  width: 50%;
  font-size: 1.2rem;
}
.title h2 {
  text-transform: capitalize;
  font-family: var(--quicksand);
  color: var(--dark);
}
.design-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  /* display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap; */
}
.design-back {
  transition: all 0.5s ease;
  cursor: pointer;
  background: #fff;
}
.design-back:hover {
  background: rgb(247, 237, 237);
}
.design-title {
  padding: 1rem;

  text-align: center;
  margin: 0 auto;
}
.design-title h4 {
  font-family: var(--roboto);
  color: var(--dark);
  font-size: 1.3rem;
}
.design-title p {
  font-family: var(--roboto);
  color: rgb(148, 143, 143);
  font-size: 15px;
}
.design-btn {
  text-align: center;
  margin: 0 auto;
}
.design-button {
  width: 9rem;
  height: 2rem;
  border-radius: 4px;
  background: rgb(76, 139, 76);
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
}
.icon i {
  display: none;
}
@media only screen and (max-width: 800px) {
  .navbar-nav a {
    display: none;
  }
  .navbar-nav {
    padding: 0.9rem 0.2rem;
  }
  .container-2 {
    display: grid;
    grid-template-columns: repeat(1, 10rem);
    gap: 1rem;
    margin-bottom: 1%;
    margin-right: 20%;
    display: flex;
    justify-content: center;
  }
  
  .design-item img{
    width: 20rem;
    margin: 0 auto;

  }
  .icon i {
    display: block;
  }
  .container {
    margin: 0 auto;
  }
  .title {
    text-align: center;
    padding: 1rem;
    margin: 0 auto;
    width: 80%;
    font-size: 1.2rem;
  }
  .design-content {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    margin: 0 auto;
  }
}
@media only screen and (max-width: 428px) {
  .navigation .logo a {
    text-decoration: none;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 500;
    font-family: var(--roboto);
    letter-spacing: 1px;
    display: block;
    text-align: center;
  }
  .icon i {
    display: block;
  }
  header {
    margin: 0 auto;
    height: 130vh;
    width: 95vh;
  }
  .nav-button button {
    width: 4rem;
    height: 1.2rem;
    border-radius: 2rem;
    text-align: center;
    text-transform: uppercase;
    color: rgb(22, 11, 168);
    font-weight: 500;
    border: none;
  }
  .container-2 {
    display: grid;
    grid-template-columns: repeat(3, 8rem);
    gap: 0.9rem;
    margin-top: 29rem;
    margin-left: 40%;
    position: relative;
  }
  .design-content {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    margin: 0 auto;
  }
  .title {
    text-align: center;
    padding: 1rem;
    margin: 0 auto;
    width: 100%;
    font-size: 1rem;
  }
}
