@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;0,600;0,700;1,400&family=Quicksand:wght@400;500;600;700&family=Roboto:ital,wght@0,400;0,700;1,400;1,500&display=swap");
:root {
  --playfair: "Playfair Display", serif;
  --quicksand: "Quicksand", sans-serif;
  --roboto: "Roboto", sans-serif;
  --green: #13ed9c;
  --dark: #3c393d;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--quicksand);
}
img {
  width: 100%;
  display: block;
}
.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 1.2rem;
}
body {
  margin: 0 auto;
  padding: 0;
}
/*header styling start*/
header {
  height: 100vh;
  background-image: url(../image/learning.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
}
.navbar {
  background: rgba(19, 237, 156, 0.8);

  padding: 1rem;
  border-radius: 4px;
  margin: 2rem 0.1rem 0 0.1rem;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation .nav-img {
  width: 60px;
  height: 60px;
  border-radius: 256px;
}
.navigation .logo a {
  display: block;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  color: #fff;
  font-family: var(--roboto);
  font-size: 2rem;
  letter-spacing: 2px;
  font-weight: 600;
}
.navbar-nav {
  padding: 0.7rem 0.2rem 0 0.2rem;
}
.navbar-nav a {
  text-align: center;
  display: inline-block;
  text-decoration: none;
  font-family: var(--roboto);
  color: #fff;
  letter-spacing: 1px;
  font-weight: 500;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  text-transform: capitalize;
}
.nav-img button {
  /* border: none; */
  border-radius: 296.5px;
}
/*start of blog section*/
.design-blog {
  padding: 4.5rem 0;
}
/* .blog-img {
  display: grid;
  grid-template-columns: 1fr 1fr;
} */
.container {
  width: 100%;
  margin: 0 auto;
}
.design-content {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 1rem;
}
.design-text {
  background-color: #fff;
}
.design-text:hover {
  background-color: rgb(235, 229, 223);
}
.design-text h2 {
  text-transform: capitalize;
  font-family: var(--quicksand);
  color: var(--dark);
  font-size: 25px;
  letter-spacing: 1px;
}
.design-text p {
  font-family: var(--roboto);
  color: rgb(175, 162, 162);
  word-spacing: 3px;
  font-size: 20px;
}
.buttons {
  display: grid;
  grid-template-columns: repeat(3, 20%);
  grid-gap: 40px;
}
.btn1 {
  width: 130px;
  height: 80px;
  border: none;
  border-radius: 4rem;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
  color: #3c393d;
}
.btn2 {
  width: 130px;
  height: 80px;
  border: none;
  border-radius: 4rem;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
  color: #3c393d;
}
.btn3 {
  width: 130px;
  height: 80px;
  border: none;
  border-radius: 4rem;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
  color: #3c393d;
}
.btn4 {
  width: 120px;
  height: 30px;
  border-radius: 3px;
  color: #fff;
  background-color: rgba(29, 172, 119, 0.8);
  border: none;
  text-transform: uppercase;
}
.btn1 span {
  font-size: 20px;
  color: red;
  font-weight: 700;
}

.btn2 span {
  font-size: 20px;
  color: blueviolet;
  font-weight: 700;
}

.btn3 span {
  font-size: 20px;
  color: dodgerblue;
  font-weight: 700;
}
/*end of block section*/
/*start of card section styling*/
.card-content {
  display: grid;
  grid-template-columns: repeat(2,1.5fr);
  grid-gap: 2px;
}
.card-link1 {
  /* margin: 0 auto; */
  display: block;
  /* grid-template-columns: repeat(1, 50px);
  grid-gap: 0; */
}
.cars-item1 {
  background-color: rgba(16, 153, 103, 0.8);
  width: 300px;
  height: 60px;
  border: 1px solid rgb(145, 139, 139);
  text-align: center;
  word-spacing: 3px;
}
.cars-item2 {
  background-color: rgba(16, 153, 103, 0.8);
  width: 300px;
  height: 60px;
  border: 1px solid rgb(145, 139, 139);
  text-align: center;
  word-spacing: 3px;
}
.cars-item3 {
  background-color: rgba(16, 153, 103, 0.8);
  width: 300px;
  height: 60px;
  border: 1px solid rgb(145, 139, 139);
  text-align: center;
  word-spacing: 3px;
}
.cars-item4 {
  background-color: rgba(16, 153, 103, 0.8);
  width: 300px;
  height: 60px;
  border: 1px solid rgb(145, 139, 139);
  text-align: center;
  word-spacing: 3px;
}
.cars-item5 {
  background-color: rgba(16, 153, 103, 0.8);
  width: 300px;
  height: 60px;
  border: 1px solid rgb(145, 139, 139);
  text-align: center;
  word-spacing: 3px;
}
.cars-item1 a {
  text-decoration: none;
  font-family: var(--roboto);
  color: var(--dark);
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
}
.cars-item2 a {
  text-decoration: none;
  font-family: var(--roboto);
  color: var(--dark);
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
}
.cars-item3 a {
  text-decoration: none;
  font-family: var(--roboto);
  color: var(--dark);
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
}
.cars-item4 a {
  text-decoration: none;
  font-family: var(--roboto);
  color: var(--dark);
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
}
.cars-item5 a {
  text-decoration: none;
  font-family: var(--roboto);
  color: var(--dark);
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
}
.card-link2{
  margin: 0 auto;
}
.card-text h3 {
  font-family: var(--roboto);
  font-size: 2rem;
  color: #3c393d;
  letter-spacing: 1px;
  word-spacing: 3px;
}
.card-text p {
  font-family: var(--roboto);
  font-size: 20px;
  color: rgb(175, 162, 162);
  letter-spacing: 1px;
}
.card-icon {
  font-family: var(--roboto);
  font-size: 20px;
  color: rgb(175, 162, 162);
  letter-spacing: 1px;
}
.card-icon i {
  background-color: transparent;
  cursor: pointer;
  width: 60px;
  font-size: 2rem;
  color: rgba(16, 153, 103, 0.8);
}
.nav-icon {
  display: none;
}

/*--end of blog styling*/
/*--start of footer styling*/
footer {
  text-align: center;
  background-color: rgb(57, 57, 85);
}

.box-content {
  max-width: 290vh;
  margin: 0 auto;
  position: relative;
}
.box-card {
  display: grid;
  grid-template-columns: repeat(3, 0.5fr);
  /* grid-gap: 10px; */
}
.box-card1 {
  width: 200px;
  margin: 0 auto;
}
.box-card1 .box-card1-title {
  margin-top: 5rem;
}
.box-card1 .box-card1-title h3 {
  text-align: left;
  color: #fff;
  font-family: var(--roboto);
  font-size: 2rem;
  text-transform: uppercase;
}
.box-card1 .box-card1-title p {
  text-align: left;
  font-family: var(--roboto);
  font-size: 15px;
  color: rgb(145, 135, 135);
  text-transform: capitalize;
}
.box-card1 .box-card1-text p {
  text-align: left;
  font-family: var(--roboto);
  font-size: 15px;
  color: rgb(145, 135, 135);
  text-transform: capitalize;

  word-spacing: 5px;
}
.box-card1 .box-card1-text {
  margin-top: 2rem;
}
.box-card1 .box-card1-footer {
  margin-top: 2rem;
}
.box-card1 .box-card1-footer li {
  text-align: left;
  list-style: none;
  padding: 6px;
  text-align: left;
  font-family: var(--roboto);
  font-size: 15px;
  color: rgb(145, 135, 135);
  text-transform: capitalize;
}
.box-card1 .box-card1-footer i {
  color: rgba(16, 153, 103, 0.8);
}
.box-card2 {
  margin: 0 auto;
  width: 200px;
  height: auto;
}
.box-card2-title {
  margin-top: 6rem;
}
.box-card2-title h3 {
  text-align: left;
  color: #fff;
  font-family: var(--roboto);
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
}
.box-card2 .box-card2-text {
  margin-top: 3.5rem;
}
.box-card2 .box-card2-text li {
  list-style: none;
  padding: 8px;

  text-align: left;
  font-family: var(--roboto);
  font-size: 15px;
  color: rgb(145, 135, 135);
  text-transform: capitalize;
}
.box-card2 .box-card2-text i {
  color: rgba(16, 153, 103, 0.8);
}

.box-card3 {
  margin: 0 auto;
  width: 200px;
  height: auto;
}
.box-card3 .box-img {
  display: grid;
  grid-template-columns: repeat(2, 130px);
}
.box-card3 .box-card3-title {
  margin-top: 6rem;
}
.box-card3-title h3 {
  text-align: left;
  color: #fff;
  font-family: var(--roboto);
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
}
.box-card3 .box-img {
  margin-top: 2rem;
}
.box-card3 .box-img img {
  width: 5rem;
  height: 5rem;
}
.box-card3 .box-card3-text {
  text-align: left;
}
.box-card3 .box-card3-text p {
  text-align: left;
  list-style: none;
  padding: 6px;
  text-align: left;
  font-family: var(--roboto);
  font-size: 15px;
  color: rgb(145, 135, 135);
  text-transform: capitalize;
}
.box-blog{
  width: 70%;
  height: 100px;
  margin: 0 auto;
  background-color: rgb(84, 136, 84) ;
  border-radius: 3px;
  position: absolute;
  transform: translate(0%,-20%);
  top: 0%;
  left: 15%;
  

}
.box-blog-title{
  text-align: center;
  
}

.box-blog-title h3{
  font-family: var(--roboto);
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  word-spacing: 3px;
  letter-spacing: 1px;
  text-transform: capitalize;
}
.box-blog-input{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin-top: 2rem;
}
.box-blog-input1 input{
  width: 70%;
  height: 2rem;
  border: none ;
  color: #fff;
  border-radius: 2px;
  text-align: center;
 
}
.box-blog-input1 form{
  text-transform: capitalize;
  color: var(--dark);

}
.box-blog-input2 input{
  width: 70%;
  height: 2rem;
  border: none ;
  color: #fff;
  border-radius: 2px;
  text-align: center;
 
}
.box-blog-input3 i{
  color:rgba(13, 109, 74, 0.8) ;

}
.box-blog-input3 button{
  width: 70%;
  height: 2rem;
  border: none ;
 text-transform: uppercase;
  border-radius: 2px;
  text-align: center;
 font-family: var(--roboto);
 background-color: rgb(57, 57, 85);
 color: #fff;
 
}
@media only screen and (max-width: 490px) {
  body{
    margin: 0 auto;
    padding: 0;
  }
  header {
    margin: 0 auto;
    height: 100vh;
    width: 100vh;
  }
  .blog-img {
    width: 5rem;
    height: 3rem;
    margin: 0 auto;
  }
  .design-text{
    margin: 0 auto;
  }
  footer{
    
      margin: 0 auto;
      height: 100vh;
      width: 100vh;
    
  }
  .box-blog-title h3{
    font-family: var(--roboto);
    color: #fff;
    font-size: 10px;
    font-weight: 300;
    word-spacing: 1px;
    letter-spacing: 0px;
    text-transform: capitalize;
  }
  .box-card1 .box-card1-title {
    margin-top: 6rem;
  }
}
@media only screen and (max-width: 800px) {
  .navbar-nav a {
    display: none;
  }
  .nav-icon {
    display: block;
  }
  .design-content {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 2rem;
  }
  .card-content {
    display: grid;
    grid-template-columns: 100%;
  }
  .design-blog {
    padding: 4.5rem 0;
  }
  .blog-img {
    width: 30rem;
    height: 13rem;
    margin: 0 auto;
  }
  .box-card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    background-color: rgb(57, 57, 85);
  }
  .box-blog-input{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    margin-top: 0;}
  .box-blog-title h3{
    font-family: var(--roboto);
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    word-spacing: 3px;
    letter-spacing: 1px;
    text-transform: capitalize;
  }
  .box-blog-input1 input{
    width: 50%;
    height: 1.2rem;
    border: none ;
    color: #fff;
    border-radius: 2px;
    text-align: center;
   
  }
  .box-blog-input2 input{
    width: 50%;
    height: 1.2rem;
    border: none ;
    color: #fff;
    border-radius: 2px;
    text-align: center;
   
  }
  .box-blog-input3 button{
    width: 50%;
    height: 1.2rem;
    border: none ;
   text-transform: uppercase;
    border-radius: 2px;
    text-align: center;
   font-family: var(--roboto);
   background-color: rgb(57, 57, 85);
   color: #fff;
   
  }
 
}
